@model ASP_Epreuve_ASP_SQL.Models.ProduitCreateForm
@inject Shared_Epreuve_ASP_SQL.Repositories.ICategorieRepository<BLL_Epreuve_ASP_SQL.Entities.Categorie> categorieRepository
@inject Shared_Epreuve_ASP_SQL.Repositories.ICritereEcoRepository<BLL_Epreuve_ASP_SQL.Entities.CritereEco> critereEcoRepository

@{
    ViewData["Title"] = "Create";
}

<h1>Créer un produit :</h1>

<h4>ProduitCreateForm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prix" class="control-label"></label>
                <input asp-for="Prix" class="form-control" pattern="^\d*,{0,1}\d*$"/>
                <span asp-validation-for="Prix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CritereEco" class="control-label"></label>
                <select asp-for="CritereEco" class="form-select" 
                    asp-items="critereEcoRepository.Get()
                                                   .Select(d => new SelectListItem(){
                                                          Text = d.Nom,
                                                          Value = d.Nom})">

                </select>
                <span asp-validation-for="CritereEco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categorie" class="control-label"></label>
                <select asp-for="Categorie" class="form-select"
                        asp-items="categorieRepository.Get()
                                                   .Select(d => new SelectListItem(){
                                                          Text = d.Nom,
                                                          Value = d.Nom})">
                </select>
                <span asp-validation-for="Categorie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
