@model List<BLL_Epreuve_ASP_SQL.Entities.Produit>

<h2>Panier</h2>
@* @if (Model.Count == 0)
{
    <p>Votre panier est vide.</p>
}
else
{
    <table>
        <tr>
            <th>Nom du Produit</th>
            <th>Prix</th>
        </tr>
        @foreach (var produit in Model)
        {
            <tr>
                <td>@produit.Nom</td>
                <td>@produit.Prix</td>
            </tr>
        }
    </table>
} *@
